# Main background, empty for terminal default, need to be empty if you want transparent background
theme[main_bg]="{{mocha.base}}"

# Main text color
theme[main_fg]="{{mocha.text}}"

# Title color for boxes
theme[title]="{{mocha.text}}"

# Highlight color for keyboard shortcuts
theme[hi_fg]="{{mocha.blue}}"

# Background color of selected item in processes box
theme[selected_bg]="{{mocha.surface1}}"

# Foreground color of selected item in processes box
theme[selected_fg]="{{mocha.blue}}"

# Color of inactive/disabled text
theme[inactive_fg]="{{mocha.overlay0}}"

# Color of text appearing on top of graphs, i.e uptime and current network graph scaling
theme[graph_text]="{{mocha.rosewater}}"

# Background color of the percentage meters
theme[meter_bg]="{{mocha.surface1}}"

# Misc colors for processes box including mini cpu graphs, details memory graph and details status text
theme[proc_misc]="{{mocha.rosewater}}"

# CPU, Memory, Network, Proc box outline colors
theme[cpu_box]="{{mocha.mauve}}"
theme[mem_box]="{{mocha.green}}"
theme[net_box]="{{mocha.maroon}}"
theme[proc_box]="{{mocha.blue}}"

# Box divider line and small boxes line color
theme[div_line]="{{mocha.overlay0}}"

# Temperature graph color (Green -> Yellow -> Red)
theme[temp_start]="{{mocha.green}}"
theme[temp_mid]="{{mocha.yellow}}"
theme[temp_end]="{{mocha.red}}"

# CPU graph colors (Teal -> Lavender)
theme[cpu_start]="{{mocha.teal}}"
theme[cpu_mid]="{{mocha.sky}}"
theme[cpu_end]="{{mocha.lavender}}"

# Mem/Disk free meter (Mauve -> Lavender -> Blue)
theme[free_start]="{{mocha.mauve}}"
theme[free_mid]="{{mocha.lavender}}"
theme[free_end]="{{mocha.blue}}"

# Mem/Disk cached meter (Sapphire -> Lavender)
theme[cached_start]="{{mocha.sapphire}}"
theme[cached_mid]="{{mocha.blue}}"
theme[cached_end]="{{mocha.lavender}}"

# Mem/Disk available meter (Peach -> Red)
theme[available_start]="{{mocha.peach}}"
theme[available_mid]="{{mocha.maroon}}"
theme[available_end]="{{mocha.red}}"

# Mem/Disk used meter (Green -> Sky)
theme[used_start]="{{mocha.green}}"
theme[used_mid]="{{mocha.teal}}"
theme[used_end]="{{mocha.sky}}"

# Download graph colors (Peach -> Red)
theme[download_start]="{{mocha.peach}}"
theme[download_mid]="{{mocha.maroon}}"
theme[download_end]="{{mocha.red}}"

# Upload graph colors (Green -> Sky)
theme[upload_start]="{{mocha.green}}"
theme[upload_mid]="{{mocha.teal}}"
theme[upload_end]="{{mocha.sky}}"

# Process box color gradient for threads, mem and cpu usage (Sapphire -> Mauve)
theme[process_start]="{{mocha.sapphire}}"
theme[process_mid]="{{mocha.lavender}}"
theme[process_end]="{{mocha.mauve}}"
