filekinds:
  normal: {foreground: "{{mocha.text}}"}
  directory: {foreground: "{{mocha.mauve}}"}
  symlink: {foreground: "{{mocha.blue}}"}
  pipe: {foreground: "{{mocha.subtext1}}"}
  block_device: {foreground: "{{mocha.maroon}}"}
  char_device: {foreground: "{{mocha.maroon}}"}
  socket: {foreground: "{{mocha.subtext1}}"}
  special: {foreground: "{{mocha.mauve}}"}
  executable: {foreground: "{{mocha.green}}"}
  mount_point: {foreground: "{{mocha.teal}}"}

perms:
  user_read: {foreground: "{{mocha.red}}", is_bold: true}
  user_write: {foreground: "{{mocha.yellow}}", is_bold: true}
  user_execute_file: {foreground: "{{mocha.green}}", is_bold: true}
  user_execute_other: {foreground: "{{mocha.green}}", is_bold: true}
  group_read: {foreground: "{{mocha.red}}"}
  group_write: {foreground: "{{mocha.yellow}}"}
  group_execute: {foreground: "{{mocha.green}}"}
  other_read: {foreground: "{{mocha.red}}"}
  other_write: {foreground: "{{mocha.yellow}}"}
  other_execute: {foreground: "{{mocha.green}}"}
  special_user_file: {foreground: "{{mocha.mauve}}"}
  special_other: {foreground: "{{mocha.overlay1}}"}
  attribute: {foreground: "{{mocha.overlay2}}"}

size:
  major: {foreground: "{{mocha.subtext0}}"}
  minor: {foreground: "{{mocha.sky}}"}
  number_byte: {foreground: "{{mocha.subtext1}}"}
  number_kilo: {foreground: "{{mocha.subtext0}}"}
  number_mega: {foreground: "{{mocha.blue}}"}
  number_giga: {foreground: "{{mocha.mauve}}"}
  number_huge: {foreground: "{{mocha.mauve}}"}
  unit_byte: {foreground: "{{mocha.subtext0}}"}
  unit_kilo: {foreground: "{{mocha.sky}}"}
  unit_mega: {foreground: "{{mocha.mauve}}"}
  unit_giga: {foreground: "{{mocha.mauve}}"}
  unit_huge: {foreground: "{{mocha.teal}}"}

users:
  user_you: {foreground: "{{mocha.text}}"}
  user_root: {foreground: "{{mocha.red}}"}
  user_other: {foreground: "{{mocha.peach}}"}
  group_yours: {foreground: "{{mocha.subtext0}}"}
  group_other: {foreground: "{{mocha.overlay2}}"}
  group_root: {foreground: "{{mocha.red}}"}

links:
  normal: {foreground: "{{mocha.blue}}"}
  multi_link_file: {foreground: "{{mocha.blue}}"}

git:
  new: {foreground: "{{mocha.green}}"}
  modified: {foreground: "{{mocha.yellow}}"}
  deleted: {foreground: "{{mocha.maroon}}"}
  renamed: {foreground: "{{mocha.teal}}"}
  typechange: {foreground: "{{mocha.pink}}"}
  ignored: {foreground: "{{mocha.overlay1}}"}
  conflicted: {foreground: "{{mocha.peach}}"}

git_repo:
  branch_main: {foreground: "{{mocha.subtext0}}"}
  branch_other: {foreground: "{{mocha.mauve}}"}
  git_clean: {foreground: "{{mocha.green}}"}
  git_dirty: {foreground: "{{mocha.maroon}}"}

security_context:
  colon: {foreground: "{{mocha.overlay0}}"}
  user: {foreground: "{{mocha.overlay1}}"}
  role: {foreground: "{{mocha.mauve}}"}
  typ: {foreground: "{{mocha.surface2}}"}
  range: {foreground: "{{mocha.mauve}}"}

file_type:
  image: {foreground: "{{mocha.yellow}}"}
  video: {foreground: "{{mocha.peach}}"}
  music: {foreground: "{{mocha.green}}"}
  lossless: {foreground: "{{mocha.teal}}"}
  crypto: {foreground: "{{mocha.overlay1}}"}
  document: {foreground: "{{mocha.text}}"}
  compressed: {foreground: "{{mocha.peach}}"}
  temp: {foreground: "{{mocha.overlay1}}"}
  compiled: {foreground: "{{mocha.sapphire}}"}
  source: {foreground: "{{mocha.blue}}"}

punctuation: {foreground: "{{mocha.overlay0}}"}
date: {foreground: "{{mocha.yellow}}"}
inode: {foreground: "{{mocha.subtext0}}"}
blocks: {foreground: "{{mocha.overlay0}}"}
header: {foreground: "{{mocha.text}}"}
octal: {foreground: "{{mocha.teal}}"}
flags: {foreground: "{{mocha.mauve}}"}

symlink_path: {foreground: "{{mocha.sky}}"}
control_char: {foreground: "{{mocha.sapphire}}"}
broken_symlink: {foreground: "{{mocha.red}}"}
broken_path_overlay: {foreground: "{{mocha.surface2}}"}
