ICON_LOCK = "{{glyph.power_lock}}"
ICON_LOGOUT = "{{glyph.power_logout}}"
ICON_REBOOT = "{{glyph.power_reboot}}"
ICON_SHUTDOWN = "{{glyph.power_shutdown}}"
ICON_SUSPEND = "{{glyph.power_suspend}}"
ICON_CAFFEINATE = "{{glyph.caffeinate}}"
