	--rosewater: {{mocha.rosewater}};
	--mauve: {{mocha.mauve}};
	--red: {{mocha.red}};
	--yellow: {{mocha.yellow}};
	--green: {{mocha.green}};
	--blue: {{mocha.blue}};
	--lavender: {{mocha.lavender}};
	--text: {{mocha.text}};
	--subtext1: {{mocha.subtext1}};
	--subtext0: {{mocha.subtext0}};
	--overlay0: {{mocha.overlay0}};
	--surface1: {{mocha.surface1}};
	--surface0: {{mocha.surface0}};
	--base: {{mocha.base}};
	--mantle: {{mocha.mantle}};
	--crust: {{mocha.crust}};
