background-color={{mocha.base}}
text-color={{mocha.text}}
border-color={{mocha.surface0}}
progress-color={{mocha.mauve}}

[mode=do-not-disturb]
invisible=true

[mode=do-not-disturb app-name=notify-send]
invisible=false

[urgency=low]
background-color={{mocha.base}}
text-color={{mocha.subtext0}}
border-color={{mocha.surface0}}

[urgency=normal]
background-color={{mocha.base}}
text-color={{mocha.text}}
border-color={{mocha.surface0}}

[urgency=critical]
background-color={{mocha.base}}
text-color={{mocha.red}}
border-color={{mocha.red}}
default-timeout=0
layer=overlay
