local GLYPH = {
	folder = "{{glyph.folder}}",
	night = "{{glyph.greeting_night}}",
	morning = "{{glyph.greeting_morning}}",
	afternoon = "{{glyph.greeting_afternoon}}",
	evening = "{{glyph.greeting_evening}}",
}
