COLORS = (
    "{{mocha.peach}}",  # peach
    "{{mocha.sky}}",  # sky
    "{{mocha.mauve}}",  # mauve
    "{{mocha.green}}",  # green
    "{{mocha.yellow}}",  # yellow
    "{{mocha.teal}}",  # teal
    "{{mocha.pink}}",  # pink
    "{{mocha.maroon}}",  # maroon
)
CRUST = "{{mocha.crust}}"
FALLBACK_STYLE = "#[fg={{mocha.subtext0}}]#[bg={{mocha.surface0}}] 󰒋 ? #[default]"
