set $rosewater {{mocha.rosewater}}
set $mauve {{mocha.mauve}}
set $red {{mocha.red}}
set $blue {{mocha.blue}}
set $lavender {{mocha.lavender}}
set $text {{mocha.text}}
set $subtext0 {{mocha.subtext0}}
set $surface2 {{mocha.surface2}}
set $surface0 {{mocha.surface0}}
set $overlay0 {{mocha.overlay0}}
set $base {{mocha.base}}
set $mantle {{mocha.mantle}}
