CATPPUCCIN = {
    "peach": "{{mocha.peach}}",
    "yellow": "{{mocha.yellow}}",
    "sky": "{{mocha.sky}}",
    "sapphire": "{{mocha.sapphire}}",
    "lavender": "{{mocha.lavender}}",
    "text": "{{mocha.text}}",
    "subtext0": "{{mocha.subtext0}}",
    "overlay0": "{{mocha.overlay0}}",
    "surface0": "{{mocha.surface0}}",
    "base": "{{mocha.base}}",
}
