set -g @color_sky '{{mocha.sky}}'
set -g @color_lavender '{{mocha.lavender}}'
# Pane border accent. Mauve so it stands distinct from @color_lavender,
# which we use for status-bar window-current highlights.
set -g @color_border '{{mocha.mauve}}'
set -g @color_peach '{{mocha.peach}}'
set -g @color_red '{{mocha.red}}'
set -g @color_yellow '{{mocha.yellow}}'
set -g @color_text '{{mocha.text}}'
set -g @color_subtext0 '{{mocha.subtext0}}'
set -g @color_overlay0 '{{mocha.overlay0}}'
set -g @color_surface0 '{{mocha.surface0}}'
set -g @color_surface1 '{{mocha.surface1}}'
set -g @color_surface2 '{{mocha.surface2}}'
set -g @color_base '{{mocha.base}}'
set -g @color_crust '{{mocha.crust}}'
