# Overrides mu-crew.conf's own THEME defaults with this repo's palette and
# glyph vocabulary, so murmur state looks the same here as everywhere else.
set -g @mu_crew_c_crashed '{{mocha.red}}'
set -g @mu_crew_c_blocked '{{mocha.peach}}'
set -g @mu_crew_c_done '{{mocha.teal}}'
set -g @mu_crew_c_working '{{mocha.subtext0}}'
set -g @mu_crew_c_waiting '{{mocha.sapphire}}'
set -g @mu_crew_c_idle '{{mocha.overlay0}}'
set -g @mu_crew_g_crashed '{{glyph.agent_crashed}}'
set -g @mu_crew_g_blocked '{{glyph.agent_blocked}}'
set -g @mu_crew_g_done '{{glyph.agent_done}}'
set -g @mu_crew_g_working '{{glyph.agent_working}}'
set -g @mu_crew_g_waiting '{{glyph.agent_waiting}}'
set -g @mu_crew_g_idle '{{glyph.agent_idle}}'
set -g @mu_crew_g_crew '{{glyph.crew}}'
set -g @mu_crew_g_agent '{{glyph.agent_robot}}'
