					"months": "<span color='{{mocha.mauve}}'><b>{}</b></span>",
					"days": "<span color='{{mocha.text}}'><b>{}</b></span>",
					"weeks": "<span color='{{mocha.teal}}'> W{}</span>",
					"weekdays": "<span color='{{mocha.yellow}}'><b>{}</b></span>",
					"today": "<span color='{{mocha.rosewater}}'><b><u>{}</u></b></span>",
