@define-color red      {{mocha.red}};
@define-color lavender {{mocha.lavender}};
@define-color mauve    {{mocha.mauve}};
@define-color teal     {{mocha.teal}};
@define-color text     {{mocha.text}};
@define-color overlay0 {{mocha.overlay0}};
@define-color surface2 {{mocha.surface2}};
@define-color base     {{mocha.base}};
/* base at 50% alpha; hand-derived from {{mocha.base}}. Re-derive
   if base changes. */
@define-color base50   rgba(30, 30, 46, 0.5);
