ICON_CPU = "{{glyph.cpu}}"
ICON_TEMP = "{{glyph.temperature}}"
ICON_RAM = "{{glyph.ram}}"
ICON_SWAP = "{{glyph.swap}}"
ICON_DISK = "{{glyph.disk}}"
ICON_NET = "{{glyph.network}}"
ICON_AUDIO = "{{glyph.audio}}"
ICON_MIC = "{{glyph.microphone}}"
ICON_BT = "{{glyph.bluetooth}}"
