@define-color red      {{mocha.red}};
@define-color lavender {{mocha.lavender}};
@define-color text     {{mocha.text}};
@define-color overlay0 {{mocha.overlay0}};
@define-color surface2 {{mocha.surface2}};
@define-color surface1 {{mocha.surface1}};
@define-color surface0 {{mocha.surface0}};
@define-color base     {{mocha.base}};
