prompt_dir_color="%F{{{mocha.lavender}}}"
prompt_accent_color="%F{{{mocha.yellow}}}"
prompt_error_color="%F{{{mocha.red}}}"
prompt_muted_color="%F{{{mocha.overlay0}}}"
prompt_toolbox_color="%F{{{mocha.teal}}}"
