/* Catppuccin Mocha */
@define-color red      #f38ba8;
@define-color lavender #b4befe;
@define-color mauve    #cba6f7;
@define-color teal     #94e2d5;
@define-color text     #cdd6f4;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color base     #1e1e2e;
@define-color base50   rgba(30, 30, 46, 0.5);

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
}

/* Ensure waybar has no borders or shadows */
#waybar {
	border: none;
	border-bottom: none;
	border-top: none;
	box-shadow: none;
}

/*----------*/
/* MAIN BAR */
/*----------*/

/* Keyframes for 1st bar criticals */
@keyframes blink-critical-text {
	to {
		color: @red;
	}
}

/* Keyframes for 1st bar modifiers */
@keyframes blink-modifier-text {
	to {
		color: @teal;
	}
}

/* The Main bar */
#waybar.first {
	background: @base50;
	color: @text;
	font-family: JetBrains Mono Nerd Font;
	font-size: 12pt;
	font-weight: bold;
	border-bottom: none;
	box-shadow: none;
}

#waybar.first button {
	font-family: JetBrains Mono Nerd Font;
	font-size: 12pt;
	font-weight: bold;
	transition: all 0.15s ease-in-out;
}

/* Each Main bar module */
#waybar.first #battery,
#waybar.first #backlight,
#waybar.first #clock,
#waybar.first #cpu,
#waybar.first #language,
#waybar.first #memory.swap,
#waybar.first #memory.ram,
#waybar.first #mode,
#waybar.first #submap,
#waybar.first #pulseaudio,
#waybar.first #temperature,
#waybar.first #tray,
#waybar.first #disk,
#waybar.first #window {
	padding-left: 8pt;
	padding-right: 8pt;
	margin-bottom: 3px;
	background: transparent;
	color: @text;
}

#waybar.first #network.info {
	padding-right: 10px;
	padding-left: 10px;
	color: @red;
}

#waybar.first #network.info.wifi.normal,
#waybar.first #network.info.ethernet {
	color: @text;
	padding-right: 15px;
}

#waybar.first #network.info.wifi {
	color: @red;
	padding-right: 15px;
}

/* Each Main bar critical module */
#waybar.first #workspaces button.urgent,
#waybar.first #workspaces button.special,
#waybar.first #memory.swap.critical,
#waybar.first #memory.ram.critical,
#waybar.first #cpu.critical,
#waybar.first #temperature.critical,
#waybar.first #battery.critical.discharging {
	color: @text;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical-text;
	animation-duration: 1s;
	animation-timing-function: steps(15);
}

#waybar.first #mode,
#waybar.first #submap.RESIZE {
	color: @text;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-modifier-text;
	animation-duration: 1s;
	animation-timing-function: steps(15);
}

/* Each Main bar warning */
#waybar.first #pulseaudio.output.muted,
#waybar.first #pulseaudio.input.source-muted,
#waybar.first #battery.warning.discharging {
	color: @red;
}

/* And now modules themselves in their respective order */

/* Default workspace settings */
#waybar.first #workspaces button {
	color: @overlay0;
	background: transparent;
	font-size: 18px;
	padding-left: 3pt;
	padding-right: 2pt;
	border-radius: 20px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	transition: 0.25s ease;
}

/* Inactive (on unfocused output) & Active (on focused output) */
#waybar.first #workspaces button.visible {
	color: @text;
	background: @surface2;
}

/* Workspace states */
#waybar.first #workspaces button.active {
	color: @text;
	background: @surface2;
}

#waybar.first #workspaces button.focused {
	color: @text;
	background: @surface2;
}

/* Style when cursor is on the button */
#waybar.first #workspaces button:hover {
	color: @text;
}

/* Custom slashes as spacers */
#waybar.first #custom-spacer1,
#waybar.first #custom-spacer2,
#waybar.first #custom-spacer3 {
	font-size: 12pt;
	color: @overlay0;
	background: transparent;
}

/* Tooltip recolor */
tooltip {
	background: @base;
	border: 3px solid @surface2;
	border-radius: 10px;
}
