layout {
    background-color "transparent"

    focus-ring {
        active-color   "#b4befe"
        inactive-color "#181825"
        urgent-color   "#f38ba8"
    }

    border {
        active-color   "#b4befe"
        inactive-color "#181825"
        urgent-color   "#f38ba8"
    }

    shadow {
        color "#11111b"
    }

    tab-indicator {
        active-color   "#b4befe"
        inactive-color "#181825"
        urgent-color   "#f38ba8"
    }

    insert-hint {
        color "#b4befe80"
    }
}

recent-windows {
    highlight {
        active-color   "#313244"
        urgent-color   "#f38ba8"
    }
}