[Unit]
Description=Swayidle Idle Manager
PartOf=niri-session.target
BindsTo=niri-session.target
After=niri-session.target

[Service]
Type=simple
ExecStart=%h/.config/niri/scripts/session-swayidle
Restart=always
RestartSec=1

[Install]
WantedBy=niri-session.target
