[Unit]
Description=Sway Session Services
Wants=sway-clipman-watcher.service sway-kanshi.service sway-mako.service swaybg.service swayidle.service sway-waybar.service
