[Unit]
Description=Waybar Status Bar
PartOf=niri-session.target
BindsTo=niri-session.target
After=niri-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=always
RestartSec=1

[Install]
WantedBy=niri-session.target
